.form-auth {
    width: 100%;
    max-width: 330px;
    min-height: calc(100vh - 67.8px);
    padding: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.form-auth .checkbox {
    font-weight: 400;
}

input {
    padding: 2em;
}
.form-auth .form-floating:focus-within {
    z-index: 2;
    padding: 2rem;
}

.form-auth input {
    margin-bottom: 2px;
}
  
