
.custom-button {
    background-color: var(--quaternary-color);
    border-color: var(--quaternary-color);
    color: var(--secondary-color);
    border-width: 1px;
}

.custom-button:hover {
    background-color: var(--secondary-color);
    border-color: var(--quaternary-color);
    color: var(--quaternary-color);
}

.custom-table-button {
    background-color: var(--secondary-color);
    border-color: var(--quaternary-color);
    color: var(--quaternary-color);
}

.custom-table-button:hover {
    background-color: var(--quinary-color);
    border-color: var(--quinary-color);
}